{% extends 'layout.html' %} {% block content %}
<div class= "line">
</div>

<section class="search">
  <div class= "search-content"></div>
    <h2>Start your journey</h2>
    <form class="search-form" method="GET" action="/search">
      <input type="text" name="q" placeholder="Search..." />
      <button type="submit">Search</button>
    </form>
    <p>Search bar soon</p>
</section>

<div class="container">
    {% for row in content %}
<div class="card">
  <img
    class="card-image"
    src="{{row[6]}}"
    alt="Image of {{ row[1] }} not loaded."
  />
  <h1 class="card-name">{{ row[1] }}</h1>
  <p class="card-about">{{ row[3] }}</p>
  <a class="card-link" href="{{row[2]}}"
    ><button class="btn">Read More</button></a
  >
</div>
{% endfor %}
</div>
{% endblock %}
